.tab-content {
    width: fit-content;
    height: fit-content;
}
.main-panel {
    border: 1px solid #ddd;
    padding: 10px;
     margin: 10px;
    width: fit-content;
     height: fit-content;
     float: right;
}
.game-panel {
   border-top: solid;
   padding: 10px;
   margin: 10px;
   display: inline-block;
   width: 18%; /* Adjust the width as needed */
   text-align: center;
   height: 94px;
   width: 80px;
}
.panel-header {
       color: #fff;
       padding: 5px;
       text-align: center;
}
.enemy-team {
       width: 30px;
}
.comp-logo {
      width: 20px;
}
.recent-h1 {
    color: white;
    background: cadetblue;
    text-align: left;
}
.recent-form {
     color: white;
     font-size: 24px;
}
.recent-date {
     margin-top: -28px;
}
.recent-scores {
      font-size: 20px;
}
.common-cell.club-header {
    width: 42px;

/* Apply to the left panel */


.match-panel {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 18%; /* Adjust the width as needed */
    text-align: center;
    height: 94px;
    width: 80px;
}

.panel-header {
    color: #333;
    padding: 5px;
    text-align: center;
}

home-team, .away-team {
    width: 30px;
}

.last-matches-h1 {
    color: #333;
    background: #cadetblue;
    text-align: left;
}

.match-result {
    font-size: 20px;
}

.match-league {
    font-size: 14px;
}

.match-date {
    margin-top: -28px;
    font-size: 14px;
}

.main-panel-left-panel {
    border: 1px solid #ddd;
    padding: 10px;
     margin: 10px;
    width: fit-content;
     height: fit-content;
     float: left;
}
.match-panel-last-match{
   border: 1px solid #ddd;
   padding: 10px;
   margin: 10px;
   display: inline-block;
   width: 18%; /* Adjust the width as needed */
   text-align: center;
   height: 94px;
   width: 80px;
}

.last-matches-h1{
    color: #333;
    background: #cadetblue;
    text-align: left;
}

.row{
    width: fit-content;
}
.stadium-img {
    width: 400px;
    padding: 5px;
    border-radius: 2%;
    box-shadow: 0 0 2px 1px #e1e1e1!important;
}

.last-main-panel {
    width: fit-content;
    height: fit-content;
}
.last_result{
    width : fit-content;
}