

    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">


<!-- FOOTER SECTION -->
<div class="footer">
    <div class="f-desc">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            <h4>About Us</h4>
                        </div>
                        <p>Welcome to our football community! We are dedicated to delivering the latest updates, match results, and exciting news from the world of football. With a deep passion for the beautiful game, we strive to provide you with the most engaging and informative content. Join us as we celebrate the sport that unites millions around the globe.</p>
                    </div>
                </div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            <h4>Latest News</h4>
                        </div>
                        {%for i in news[-2:]%}
                        <div class="footer-blog-item">
                            <div class="footer-blog-lead">
                                <a href="{{i.url}}" title="" target="_blank">{{i.title}}</a>
                            </div>
                            <div class="footer-blog-date">
                                {{i.dateposted}}
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            <h4>Quick Links</h4>
                        </div>
                        <ul class="sitemap">
					<li><a href="{{url_for('scores_view')}}">Match Results</a></li>
                    <li><a href="{{url_for('view_news')}}">News</a></li>
                    <li><a href="{{url_for('view_league_tables')}}">Competitions</a></li>
					<li ><a href="{{url_for('highlights_view')}}">Highlights</a></li>
					<li><a href="{{url_for('show_livestream_links')}}">Live Streams</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type='text/javascript' src='https://maps.google.com/maps/api/js?sensor=false&ver=4.1.5'></script>
	<script type='text/javascript' src='../static/js/jqBootstrapValidation.js'></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.magnific-popup.min.js"></script>

	<script type="text/javascript" src="../static/js/script.js"></script>


</body>
</html>